<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973824794779-lbnmvbim3tl5it0m4pd6ul7ft27mhihg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973824794779-lbnmvbim3tl5it0m4pd6ul7ft27mhihg</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJgFdrYfgwrScTvRLY-s006e14nNTICE</string>
	<key>GCM_SENDER_ID</key>
	<string>973824794779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fisio</string>
	<key>PROJECT_ID</key>
	<string>fisioapp-73d11</string>
	<key>STORAGE_BUCKET</key>
	<string>fisioapp-73d11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973824794779:ios:b9a10f34c55759a798e63e</string>
	<key>DATABASE_URL</key>
	<string>https://fisioapp-73d11-default-rtdb.firebaseio.com</string>
</dict>
</plist>